services:
  compose-dashboard:
    image: "mcr.microsoft.com/dotnet/nightly/aspire-dashboard:latest"
    ports:
      - "18888:18888"
    expose:
      - "18889"
    networks:
      - "aspire"
    restart: "always"
  mongo:
    image: "docker.io/library/mongo:8.2"
    environment:
      MONGO_INITDB_ROOT_USERNAME: "admin"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_PASSWORD}"
    expose:
      - "27017"
    volumes:
      - type: "volume"
        target: "/data/db"
        source: "platform.apphost-04e9402f01-mongo-data"
        read_only: false
    networks:
      - "aspire"
  datainitializer:
    image: "${DATAINITIALIZER_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "${DATAINITIALIZER_PORT}"
      ConnectionStrings__mongodb: "mongodb://admin:${MONGO_PASSWORD}@mongo:27017/aspire-admin-db?authSource=admin&authMechanism=SCRAM-SHA-256"
      MONGODB_HOST: "mongo"
      MONGODB_PORT: "27017"
      MONGODB_USERNAME: "admin"
      MONGODB_PASSWORD: "${MONGO_PASSWORD}"
      MONGODB_AUTHENTICATIONDATABASE: "admin"
      MONGODB_AUTHENTICATIONMECHANISM: "SCRAM-SHA-256"
      MONGODB_URI: "mongodb://admin:${MONGO_PASSWORD}@mongo:27017/aspire-admin-db?authSource=admin&authMechanism=SCRAM-SHA-256"
      MONGODB_DATABASE: "aspire-admin-db"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://compose-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "datainitializer"
    expose:
      - "${DATAINITIALIZER_PORT}"
    depends_on:
      mongo:
        condition: "service_started"
    networks:
      - "aspire"
  apiservice:
    image: "${APISERVICE_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "${APISERVICE_PORT}"
      ConnectionStrings__mongodb: "mongodb://admin:${MONGO_PASSWORD}@mongo:27017/aspire-admin-db?authSource=admin&authMechanism=SCRAM-SHA-256"
      MONGODB_HOST: "mongo"
      MONGODB_PORT: "27017"
      MONGODB_USERNAME: "admin"
      MONGODB_PASSWORD: "${MONGO_PASSWORD}"
      MONGODB_AUTHENTICATIONDATABASE: "admin"
      MONGODB_AUTHENTICATIONMECHANISM: "SCRAM-SHA-256"
      MONGODB_URI: "mongodb://admin:${MONGO_PASSWORD}@mongo:27017/aspire-admin-db?authSource=admin&authMechanism=SCRAM-SHA-256"
      MONGODB_DATABASE: "aspire-admin-db"
      Jwt__SecretKey: "w9G2xN7pR6qV3zL1s8F0bH5dT4jK2uM3"
      ConnectionStrings__chat: "Endpoint=https://free.v36.cm/v1;Key=${OPENAI_OPENAI_APIKEY};Model=gpt-4o-mini"
      CHAT_ENDPOINT: "https://free.v36.cm/v1"
      CHAT_URI: "https://free.v36.cm/v1"
      CHAT_KEY: "${OPENAI_OPENAI_APIKEY}"
      CHAT_MODEL: "gpt-4o-mini"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://compose-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "apiservice"
    expose:
      - "${APISERVICE_PORT}"
    depends_on:
      datainitializer:
        condition: "service_completed_successfully"
    networks:
      - "aspire"
  apigateway:
    image: "mcr.microsoft.com/dotnet/nightly/yarp:2.3.0-preview.4"
    command:
      - "/app/yarp.dll"
    entrypoint:
      - "dotnet"
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      APISERVICE_HTTP: "http://apiservice:${APISERVICE_PORT}"
      REVERSEPROXY__ROUTES__route0__MATCH__PATH: "/apiservice/{**catch-all}"
      REVERSEPROXY__ROUTES__route0__CLUSTERID: "cluster_apiservice"
      REVERSEPROXY__ROUTES__route0__TRANSFORMS__0__PathPattern: "/{**catch-all}"
      REVERSEPROXY__CLUSTERS__cluster_apiservice__DESTINATIONS__destination1__ADDRESS: "http://apiservice"
      services__apiservice__http__0: "http://apiservice:${APISERVICE_PORT}"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://compose-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "apigateway"
    expose:
      - "5000"
    networks:
      - "aspire"
  admin:
    image: "${ADMIN_IMAGE}"
    environment:
      NODE_ENV: "production"
      APIGATEWAY_HTTP: "http://apigateway:5000"
      services__apigateway__http__0: "http://apigateway:5000"
      BROWSER: "none"
      PORT: "8080"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://compose-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "admin"
    expose:
      - "8080"
    depends_on:
      apigateway:
        condition: "service_started"
    networks:
      - "aspire"
  app:
    image: "${APP_IMAGE}"
    environment:
      NODE_ENV: "production"
      APIGATEWAY_HTTP: "http://apigateway:5000"
      services__apigateway__http__0: "http://apigateway:5000"
      BROWSER: "none"
      PORT: "8081"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://compose-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "app"
    expose:
      - "8081"
    depends_on:
      apigateway:
        condition: "service_started"
    networks:
      - "aspire"
networks:
  aspire:
    driver: "bridge"
volumes:
  platform.apphost-04e9402f01-mongo-data:
    driver: "local"
